body{
    background-color: gray;
}
#header{
    background-color: lightgreen;
    position: center;
    margin: 0 auto;
    padding: 10px;
    text-align: center;
}
#nav{
    font-style: italic;
    font-size: larger;
    font-family: Bahnschrift;
    text-decoration: none;
    text-align: center;
    background-color: aliceblue;
    padding: 20px;

}
#main {
    text-align: center;
    background-color: lightgray;
    padding-top: 20px;
    padding-bottom: 20px;
    height: 1000px;
}
#footer{
    text-align: center;
    background-color: lightgray;
    padding: 20px;
}
a:link{
    text-decoration: none;
}
a:hover{
    background-color: lightgray;
    cursor: grab;
}